<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">

</head>
<body>
<div id="header" class="section">
    <img alt="" class="img-circle" src="/img/PandaLogo.jpg">
</div>
<div class="container" align="center">
    <h1><span>Inicio de Sesión</span></h1>

    <form action="/login"
          method="post"
    >
        <div>
            <input id="username" placeholder="Nombre de Usuario" type="text" name="username">

        </div>
        <div>

            <input id="password" type="password" placeholder="Contraseña" name="password">
        </div>
        <a href="/participante/inicio" style="text-decoration: none">
            <button class="submit">Ingresar</button>
        </a>
    </form>



</div>

<div class="section" id="contacts" >

    <h1><span>Contáctanos</span></h1>
    <div>
        <a href="https://www.sololearn.com/" target="_blank">
            <img alt="SoloLearn" src="/logo/logoemail.png" />
        </a>
        <a href="#">
            <img alt="Facebook" src="/logo/logoface.png"/>
        </a>
        <a href="#">
            <img alt="Twitter" src="/logo/logotwi.png" />
        </a>
    </div>
</div>

<div class="copyright">
    &copy; 2019 Panadería Panda. Todos los derechos reservados.
</div>
</body>
</html>

